/* Global */

html {
  font-family: sans-serif;
  color: white;
  overflow: hidden;
}

body {
  padding: 0 5vw;
  margin: 0;
}

#app-content {
  height: calc(100vh - 35px);
  overflow-y: scroll;
}

/* Interactable Elements */

input[type="text"],
textarea {
  font-size: medium;
  background: none;
  color: white;

  border: none;
  border-bottom: 2px solid #444444;
  outline: none;

  transition: border-bottom 0.4s;

  &:focus {
    border-bottom: 2px solid #aaaaaa;
  }
}

textarea {
  resize: none;
}

button {
  margin: 5px;

  font-size: medium;
  background: none;
  color: white;

  border: none;
  border-top: 2px solid #444444;
  border-bottom: 2px solid #444444;

  transition: border 0.4s;

  &:hover {
    border-top: 2px solid #aaaaaa;
    border-bottom: 2px solid #aaaaaa;
  }
}

/* Containers */

.bordered-container {
  margin: 20px;
  padding: 20px;

  border: none;
  border-top: 1px solid #444444;
  border-bottom: 1px solid #444444;

  transition: padding 0.4s;

  &:hover {
    padding: 23px 20px;
  }
}

.verticle-bordered-container {
  margin: 20px;
  padding: 20px;

  border: none;
  border-left: 1px solid #444444;
  border-right: 1px solid #444444;
}

/* Animation */

@keyframes popup-animation {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.popup-animation {
  transform: translateY(20px);
  opacity: 0;

  animation: popup-animation 0.5s ease-out forwards;
}

.delay-1 {
  animation-delay: 0.1s;
}

.delay-2 {
  animation-delay: 0.2s;
}

.delay-3 {
  animation-delay: 0.3s;
}

.delay-4 {
  animation-delay: 0.4s;
}

.delay-5 {
  animation-delay: 0.5s;
}

.delay-6 {
  animation-delay: 0.6s;
}

.delay-7 {
  animation-delay: 0.7s;
}

.delay-8 {
  animation-delay: 0.8s;
}

.delay-9 {
  animation-delay: 0.9s;
}
